body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(46,105,163);
}

div {
  padding-right: 30px;
  height: 100%;
  width: 100%;
}

.nav {
  background-color: #FFEE00;
  max-width: 25%;
  min-width: 140px;
 
}

p {
  font-size: 2rem;
  max-width: 65%;
  min-width: 500px;
}

#footer {
  font-size: 0.75rem;
}
.hero {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  background-size: cover;
  color: #ffffff
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}



h2 {
  text-align: center;
  font-size: 2.6rem;
}


video {
  background-color: #000000;
  border: 2px solid black;
}

.container {
  display: flex;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}



.nav h1 {
  padding-left: 20px;
}




