h1 {
  color: red;
  font-weight: bold;
  font-family: sans-serif; 
  position: center;
  padding-top: 90px;
}

h6 {
  color: purple;
  font-family: cursive;
}

.nav {
  background-color: yellow;
  background-size: fill;
  font-family: serif;
  color: blue;
  padding-left: 50px;

}

.topic {
  background-color: orange;
  background-size: fill;
  font-family: serif;
  color: grey;
  padding-left: 50px;

}